
<div class="row " style="padding-top: 3%; padding-bottom:3%; ">

  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body shadow-lg">
        <form  >
          <h2 *ngIf="!form.data.id>0" class="text-secondary text-center font-weight-bold">{{'Add Student' | translate }}</h2>
          <h2 *ngIf="form.data.id>0" class="text-secondary text-center font-weight-bold">{{'Update Student' | translate }}</h2>

          
          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
           
            {{form.message}}
          </div>

          <!-- <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Enrollment No' | translate }}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-id-card grey-text"></i> </div>
                </div>
                <input type="text" name="enrolNo" [(ngModel)]="form.data.enrolNo" class="form-control"
                  placeholder="{{'Enter Enrollment Number' | translate }}">
              </div>
            </div>
          </div> -->

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'First Name' | translate }}</b>
              </span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i> </div>
                </div>
                <input type="text" name="firstN" [(ngModel)]="form.data.firstName" class="form-control"
                  placeholder="{{'Enter First Name' | translate }}" firstN required ngModel  #firstN="ngModel">
              </div>
              <span class="text-danger mr-auto mb-auto " id="role"> {{form.inputerror.firstName}} </span>
            </div>

          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Last Name' | translate }}</b>
              </span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user-circle grey-text"></i> </div>
                </div>
                <input type="text" name="lastN" [(ngModel)]="form.data.lastName" class="form-control"
                  placeholder="{{'Enter Last Name' | translate }}" lastN required ngModel  #lastN="ngModel">
              </div>
              <span class="text-danger mr-auto mb-auto " id="role"> {{form.inputerror.lastName}} </span>
            </div>
          </div>


          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'College' | translate }} </b>
              </span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-university grey-text"></i> </div>
                </div>

                <select class="form-control" name="collegeId" [(ngModel)]="form.data.collegeId"
                  style="cursor: pointer;" collegeId required ngModel  #collegeId="ngModel">
                  <option *ngFor="let n of stu"[value]="n.id" disabled selected hidden>{{n.Name}}</option>
                  <option *ngFor="let obj of form.preload.collegeList" [value]="obj.id">{{obj.name}}</option> 
                </select>
              </div>
              <span class="text-danger mr-auto mb-auto " id="role"> {{form.inputerror.collegeId}} </span>
            </div>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Email' | translate }} </b>
              </span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope grey-text"></i> </div>
                </div>
                <input type="text" name="email" [(ngModel)]="form.data.email" class="form-control"
                  placeholder="{{'Enter Email Id' | translate }}" email required ngModel  #email="ngModel">
              </div>
              <span class="text-danger mr-auto mb-auto " id="role"> {{form.inputerror.email}} </span>
            </div>
          </div>
          
          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'DOB' | translate }}</b>
              </span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-table grey-text"></i> </div>
                </div>
                <input type="date" name="dateB" [(ngModel)]="form.data.dob" 
                placeholder="Enter Your Date Of Birth" dateB required ngModel  #dateB="ngModel"
                class="form-control form-control-sm" required />
              </div>
              <span class="text-danger mr-auto mb-auto " id="role"> {{form.inputerror.dob}} </span>
            </div>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Mobile No' | translate }} </b>
              </span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-phone grey-text"></i> </div>
                </div>
                <input type="text" name="mobileNo" [(ngModel)]="form.data.mobileNo" class="form-control"
                  placeholder="{{'Enter Mobile Number' | translate }}" mobileNo required ngModel  #mobileNo="ngModel">
              </div>
              <span class="text-danger mr-auto mb-auto " id="role"> {{form.inputerror.mobileNo}} </span>
            </div>
            
          </div>

          <div class="row pt-3 pl-3 pb-3 justify-content-center">
            <div *ngIf="!form.data.id>0" class="pt-2">
              <button  (click)="submit()"   class="btn btn-success mr-2">
                {{'Save' | translate }}</button>&nbsp;
                <input type="reset" class="btn btn-secondary" name="{{'Reset'|translate}}"
                                        (click)="reset()">
            </div>
            
            <div *ngIf="form.data.id>0" class="pt-2">
              <button  (click)="submit()"  class="btn btn-success mr-2">
                {{'Update' | translate }}</button>&nbsp;
                <input type="reset" class="btn btn-secondary" name="{{'Reset'|translate}}"
                                        (click)="reset()">
            </div>
            <div class="pt-2 pl-3">
              <button (click)="forward('/studentlist')" type="button"
                class="btn btn-info mr-1">{{'List' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>